@{
    ViewBag.Title = "Nosotros";
    ViewBag.Message = "PROYECTO SHOP NEARBY-UNIVERSIDAD DE LAS FUERZAS ARMADAS (ESPE-L)";
}
<h2 style="color:white">@ViewBag.Title.</h2>
<h3 style="color:white">@ViewBag.Message</h3>

<p style="color:white">Proyecto MVC en ASP.NET - CERTIFICACION I.</p>
