@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="jumbotron" style="background-color: beige">
            <h1 class="display-4">BIENVENIDO A SHOPNEARBY!<img src="~/Imagenes/Logo.png" width="100px" height="100px" /></h1>
            <p class="lead">La plataforma en donde podrás encontrar las tiendas y mercados disponibles en tu zona</p>
            <hr class="my-4">
            <p>Tambien puedes registrar tu tienda para que tus vecinos sepan que estas atendiendo! Solo dale a Registrar!.</p>
            <a class="btn btn-primary btn-lg" href="Tiendas/Create" role="button" style="background-color: navy">Registrar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2 style="color:white">BAZAR</h2>
            <div class="card" style="width: 18rem;">
                <img src="~/Imagenes/bazar.jpg" class="card-img-top" alt="bazar" width="300px" height="200px" style="border-radius:6px">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 style="color:white">TIENDA</h2>
            <div class="card" style="width: 18rem;">
                <img src="~/Imagenes/tienda.jpeg" class="card-img-top" alt="bazar" width="300px" height="200px" style="border-radius:6px">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 style="color:white">MICROMERCADO</h2>
            <div class="card" style="width: 18rem;">
                <img src="~/Imagenes/micromercado.jpg" class="card-img-top" alt="bazar" width="300px" height="200px" style="border-radius:6px">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    
    